{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    <div class="row external-app">
        <div class="cell padded header rw-6 ro-3 rw-lg-12 ro-lg-0">
            <h4 class="title"><img src="{{ asset('build/images/apps/' ~ ex.icon ~ '.gif') }}" /><span>{{ ex.name }}</span></h4>
            <p>
                {% trans from 'global' %}
                    Achtung! Der von dir ausgewählte Link, leitet dich auf eine nicht-offizielle Seite weiter (sprich: eine Fan- oder Spielerseite).
                {% endtrans %}
            </p>
            <ul>
                <li>
                    <span class="critical">{% trans from 'global' %}
                        Du darfst für diese Seite unter keinen Umständen dein MyHordes-Passwort verwenden!
                    {% endtrans %}</span> ({% trans from 'global' %}Auch dann nicht, wenn du dazu aufgefordert wirst!{% endtrans %})
                </li>
                {% if ex.contact is not empty %}

                <li>
                    {% trans with { '%contact%': '<a href="mailto:' ~ ex.contact ~ '">' ~ ex.contact ~ '</a>' } from 'global' %}
                        Wenn du Fragen oder Probleme mit der Seite hast, kontaktiere bitte %contact%.
                    {% endtrans %}
                </li>
                {% endif %}
            </ul>

            {% if (key is not empty) or ex.linkOnly %}
                <form action="{{ ex.url }}" method="post" target="_self">
                    {% if not ex.linkOnly %}
                        <input type="hidden" name="key" value="{{ key }}">
                    {% endif %}
                    <button type="submit" class="button">{{ 'Weiter zu'|trans({}, 'global') }}: '{{ ex.name }}'</button>
                </form>
            {% else %}
                <button disabled="disabled" class="button">{{ 'Weiter zu'|trans({}, 'global') }}: '{{ ex.name }}'</button>
                <p><span class="critical">{% trans from 'global' %}Du hast keine Externe ID.{% endtrans %}</span> {% trans from 'global' %}Ohne diese kannst du keine externen Apps nutzen. Um eine Externe ID zu setzen, gehe in deine Seele > Einstellungen und generiere eine ID.{% endtrans %}</p>
           {% endif %}
            <button x-ajax-href="{{ path('initial_landing') }}" class="button">{{ 'Schön hier im Warmen bleiben'|trans({}, 'global') }}</button>
        </div>
    </div>
{% endblock %}