{% extends "ajax/game/game.html.twig" %}
{% block menu_text %}
    {{parent()}}
    <li class="back-dash" x-ajax-href="{{ url('game_landing') }}">{{ 'Zum Spiel'|trans({},'global') }}</li>
{% endblock %}
{% block ajax %}
    <div class="row">
        <div class="padded-small cell rw-4 rw-sm-12">
            <div class="row">
           		<a class="support" href="/support" target="_blank"><em>{{ 'Brauchst du Hilfe?'|trans({},'help') }}</em>{{ 'Besuche unsere Technische Supportseite'|trans({},'help') }}</a>
                <ul class="HelpList">
                    <li class="main {% if section == 'welcome' %}active{% endif %}">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="intro">
                        <span class="link" x-ajax-href="{{ url('help', {'name': 'welcome'}) }}">{{ 'MyHordes?'|trans({},'help') }}</span>
                    </li>
                    <li class="main {% if section == 'world_beyond' %}active{% endif %}">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="outer">
                        <span class="link" x-ajax-href="{{ url('help', {'name': 'world_beyond'}) }}">{{ 'Die Außenwelt'|trans({},'help') }}</span>
                    </li>
                    <li class="sublist">
                        <ul>
                            <li class="{% if section == 'getting_around' %}active{% endif %}">
                                <img src="{{ asset('build/images/icons/small_move.gif') }}" alt="move">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'getting_around'}) }}">{{ 'Sich bewegen'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'map' %}active{% endif %}">
                                <img src="{{ asset('build/images/icons/item_map.gif') }}" alt="map">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'map'}) }}">{{ 'Die Karte'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'exploring_and_scavenging' %}active{% endif %}">
                                <img src="{{ asset('build/images/icons/small_gather.gif') }}" alt="explore">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'exploring_and_scavenging'}) }}">{{ 'Erkunden und Graben'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'depleted_zones' %}active{% endif %}">
                                <img src="{{ asset('build/images/icons/Small_broken.gif') }}" alt="depleted">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'depleted_zones'}) }}">{{ 'Abgesuchte Zonen'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'control_points' %}active{% endif %}">
                                <img src="{{ asset('build/images/beyond/equal.gif') }}" alt="dom">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'control_points'}) }}">{{ 'Die Kontrollpunkte'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'escort_mode' %}active{% endif %}">
                                <img src="{{ asset('build/images/icons/small_move.gif') }}" alt="escort">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'escort_mode'}) }}">{{ 'Der Eskortenmodus'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'fighting_the_hordes_in_the_world_beyond' %}active{% endif %}">
                                <img src="{{ asset('build/images/item/item_cutcut.gif') }}" alt="fight">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'fighting_the_hordes_in_the_world_beyond'}) }}">{{ 'Zombies im Freien bekämpfen'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'the_night' %}active{% endif %}">
                                <img src="{{ asset('build/images/pictos/r_doutsd.gif') }}" alt="night">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'the_night'}) }}">{{ 'Nachts'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'extreme_camping' %}active{% endif %}">
                                <img src="{{ asset('build/images/status/status_camper.gif') }}" alt="camp">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'extreme_camping'}) }}">{{ 'Wildes Campen'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'ruin_exploration' %}active{% endif %}">
                                <img src="{{ asset('build/images/icons/small_exploration.gif') }}" alt="explo">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'ruin_exploration'}) }}">{{ 'Gebäude untersuchen'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'lost_souls' %}active{% endif %}">
                                <img src="{{ asset('build/images/item/item_soul_blue.gif') }}" alt="soul">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'lost_souls'}) }}">{{ 'Verlorene Seelen'|trans({},'help') }}</span>
                            </li>
                        </ul>
                    </li>

                    <li class="main {% if section == 'about_you' %}active{% endif %}">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="player">
                        <span class="link" x-ajax-href="{{ url('help', {'name': 'about_you'}) }}">{{ 'Du'|trans({},'help') }}</span>
                    </li>

                    <li class="sublist">
                        <ul>
                            <li class="{% if section == 'health' %}active{% endif %}">
                                <img src="{{ asset('build/images/status/status_tired.gif') }}" alt="status">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'health'}) }}">{{ 'Dein Gesundheitszustand'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'inventory' %}active{% endif %}">
                                <img src="{{ asset('build/images/item/item_bag.gif') }}" alt="inv">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'inventory'}) }}">{{ 'Inventar'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'your_soul' %}active{% endif %}">
                                <img src="{{ asset('build/images/icons/small_ghost_blue.gif') }}" alt="ghost">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'your_soul'}) }}">{{ 'Deine Seele'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'death_and_soul_points' %}active{% endif %}">
                                <img src="{{ asset('build/images/professions/death.gif') }}" alt="death">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'death_and_soul_points'}) }}">{{ 'Der Tod und deine Seelenpunkte'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'last_man_standing' %}active{% endif %}">
                                <img src="{{ asset('build/images/pictos/r_surlst.gif') }}" alt="lastOne">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'last_man_standing'}) }}">{{ 'Der letzte Tod'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'hero_mode' %}active{% endif %}">
                                <img src="{{ asset('build/images/icons/star.gif') }}" alt="hero">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'hero_mode'}) }}">{{ 'Heldenmodus'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'coalitions' %}active{% endif %}">
                                <img src="{{ asset('build/images/pictos/r_surgrp.gif') }}" alt="team">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'coalitions'}) }}">{{ 'Kleine Koalitionen'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'house_and_work' %}active{% endif %}">
                                <img src="{{ asset('build/images/pictos/r_hbuild.gif') }}" alt="homeUpgrade">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'house_and_work'}) }}">{{ 'Haus &amp; Hausarbeiten'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'ghouls' %}active{% endif %}">
                                <img src="{{ asset('build/images/roles/ghoul.gif') }}" alt="ghoul">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'ghouls'}) }}">{{ 'Ghule'|trans({},'help') }}</span>
                            </li>
                        </ul>
                    </li>

                    <li class="main {% if section == 'jobs' %}active{% endif %}">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="jobs">
                        <span class="link" x-ajax-href="{{ url('help', {'name': 'jobs'}) }}">{{ 'Die Berufe'|trans({},'help') }}</span>
                    </li>

                    <li class="sublist">
                        <ul>
                            <li class="{% if section == 'resident' %}active{% endif %}">
                                <img src="{{ asset('build/images/professions/basic.gif') }}" alt="job_basic">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'resident'}) }}">{{ 'Einwohner'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'scavenger' %}active{% endif %}">
                                <img src="{{ asset('build/images/professions/dig.gif') }}" alt="job_collec">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'scavenger'}) }}">{{ 'Buddler'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'scout' %}active{% endif %}">
                                <img src="{{ asset('build/images/professions/vest.gif') }}" alt="job_eclair">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'scout'}) }}">{{ 'Aufklärer'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'guardian' %}active{% endif %}">
                                <img src="{{ asset('build/images/professions/shield.gif') }}" alt="job_guardian">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'guardian'}) }}">{{ 'Wächter'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'survivalist' %}active{% endif %}">
                                <img src="{{ asset('build/images/professions/book.gif') }}" alt="job_hunter">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'survivalist'}) }}">{{ 'Einsiedler'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'tamer' %}active{% endif %}">
                                <img src="{{ asset('build/images/professions/tamer.gif') }}" alt="job_tamer">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'tamer'}) }}">{{ 'Dompteur'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'technician' %}active{% endif %}">
                                <img src="{{ asset('build/images/professions/tech.gif') }}" alt="job_tech">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'technician'}) }}">{{ 'Techniker'|trans({},'help') }}</span>
                            </li>
                        </ul>
                    </li>

                    <li class="main {% if section == 'town_roles' %}active{% endif %}">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="roles">
                        <span class="link" x-ajax-href="{{ url('help', {'name': 'town_roles'}) }}">{{ 'Die Rollen'|trans({},'help') }}</span>
                    </li>

                    <li class="sublist">
                        <ul>
                            <li class="{% if section == 'shaman' %}active{% endif %}">
                                <img src="{{ asset('build/images/roles/shaman.gif') }}" alt="role_shaman">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'shaman'}) }}">{{ 'Shamane'|trans({},'help') }}</span>
                            </li>
                            <li class="{% if section == 'guide_to_the_world_beyond' %}active{% endif %}">
                                <img src="{{ asset('build/images/roles/guide.gif') }}" alt="role_guide">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'guide_to_the_world_beyond'}) }}">{{ 'Der Reiseleiter in der Außenwelt'|trans({},'help') }}</span>
                            </li>
                        </ul>
                    </li>

                    <li class="main {% if section == 'welcome_to_the_town' %}active{% endif %}">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="city">
                        <span class="link" x-ajax-href="{{ url('help', {'name': 'welcome_to_the_town'}) }}">{{ 'Herzlich willkommen in der Stadt'|trans({},'help') }}</span>
                    </li>

                    <li class="sublist">
                        <ul>
                            <li class="{% if section == 'the_community' %}active{% endif %}">
                                <img src="{{ asset('build/images/icons/small_world.gif') }}" alt="demo">
                                <span class="link" x-ajax-href="{{ url('help', {'name': 'the_community'}) }}">{{ 'Die Gemeinschaft'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/home.gif') }}" alt="votes">
                                <span class="link">{{ 'Neue Gebäude bauen'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/item/item_bplan_u.gif') }}" alt="bplans">
                                <span class="link">{{ 'Baupläne'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/building/small_city_up.gif') }}" alt="upgrades">
                                <span class="link">{{ 'Weiterentwicklung des Tages'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/log/night.gif') }}" alt="attack">
                                <span class="link">{{ 'Der Angriff der Zombiehorde'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/professions/water_soldier.gif') }}" alt="guard">
                                <span class="link">{{ 'Die Nachtwächter'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_star.gif') }}" alt="justice">
                                <span class="link">{{ 'Recht und Gesetz'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_ban.gif') }}" alt="banned">
                                <span class="link">{{ 'Die Verbannten'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/professions/death.gif') }}" alt="chaos">
                                <span class="link">{{ 'Das Chaos'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/item/item_courroie.gif') }}" alt="catapult">
                                <span class="link">{{ 'Das Katapult'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/building/small_falsecity.gif') }}" alt="rne">
                                <span class="link">{{ 'Kleine Karten'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/item/item_out_def_broken.gif') }}" alt="devast">
                                <span class="link">{{ 'Zerstörte Stadt'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_arma.gif') }}" alt="hardcore">
                                <span class="link">{{ 'Städte des Pandämoniums'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/item/item_chair.gif') }}" alt="customMap">
                                <span class="link">{{ 'Privatstädte'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/item/item_dice.gif') }}" alt="rp">
                                <span class="link">{{ 'Rollenspieloptionen'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/forum/coin.png') }}" alt="seasons">
                                <span class="link">{{ 'Saisons und Ranglisten'|trans({},'help') }}</span>
                            </li>
                        </ul>
                    </li>

                    <li class="main">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="st">
                        <span class="link">{{ 'Support'|trans({},'help') }}</span>
                    </li>

                    <li class="sublist">
                        <ul>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="browser">
                                <span class="link">{{ '1- Überprüfe deinen Browser'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="parasites">
                                <span class="link">{{ '2- Überprüfe sonstige installierte Programme'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="contact">
                                <span class="link">{{ 'Hier erhältst du Hilfe'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="pass">
                                <span class="link">{{ 'Wie wähle ich ein sicheres Passwort?'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="quarantine">
                                <span class="link">{{ 'Stadt unter Quarantäne'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_calim.gif') }}" alt="report">
                                <span class="link">{{ 'Fehlverhalten melden'|trans({},'help') }}</span>
                            </li>
                            <li class="">
                                <img src="{{ asset('build/images/icons/small_warning.gif') }}" alt="sitting">
                                <span class="link">{{ 'Zum Thema \'Sitting\'...'|trans({},'help') }}</span>
                            </li>
                        </ul>
                    </li>

                    <li class="main">
                        <img src="{{ asset('build/images/icons/small_archive.gif') }}" alt="extern">
                        <span class="link">{{ 'Externe Webseiten und Anwendungen'|trans({},'help') }}</span>
                    </li>
                </ul>
			</div>
        </div>
        <div class="padded cell rw-8 rw-sm-12">
            <div class="row help-content">
                {% block helpContent %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}
